.recent-news-section {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.section-title-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 600;
}

.section-date {
    color: grey;
}

.recent-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 600px) repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 160px));
    grid-gap: 10px 10px;
}
